.sortoption {
    margin-left: 275px;
    margin-right: 610px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    padding-right: 40px;
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #1A1A1B;
    color: white;
    top: 0;
    border: 1px solid #343536;
    border-radius: 4px;
    color: #818384
}

.sortoption_sort {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 6px 8px;
    border-radius: 20px;
    width: 100%;
}

.sortoption_sort:hover {
    background-color: #272729;
}

.sortoption_sort_icon {
    padding-right: 8px;
} 